<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_1_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,122},{48,118}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,114}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,120},{48,116}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,118}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{48,118}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{48,114}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,116}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,118}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_1_5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40d9b6dcb66f9b48cc5e21776d959dd7$</string>
            <key>textureFileName</key>
            <string>0_53_1_5.png</string>
        </dict>
    </dict>
</plist>
