<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{52,110}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{50,112}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,114},{44,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,114},{46,110}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{56,104}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,112},{50,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{44,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_1_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65f0afad91b0a01a4407b2a90048925c$</string>
            <key>textureFileName</key>
            <string>0_53_1_2.png</string>
        </dict>
    </dict>
</plist>
