<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_133_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{60,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{58,120}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,122},{52,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,122},{54,118}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{60,112}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,116},{58,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{52,116}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,120}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_133_1_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eb484a229ddcde0774f48b618f890a2$</string>
            <key>textureFileName</key>
            <string>1_133_1_2.png</string>
        </dict>
    </dict>
</plist>
