<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_133_1_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{60,114}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{60,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,118},{52,118}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{56,120}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,120}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,118},{56,118}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,120},{54,114}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{56,116}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_133_1_4.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21e144d13b7df7c6818b51823861d24a$</string>
            <key>textureFileName</key>
            <string>1_133_1_4.png</string>
        </dict>
    </dict>
</plist>
