<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_133_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,124},{66,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{64,116}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,120},{56,118}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{58,120}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,124},{64,116}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{56,118}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{58,116}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_133_1_3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11028e28b34f4daa668daa408b4a5ec1$</string>
            <key>textureFileName</key>
            <string>1_133_1_3.png</string>
        </dict>
    </dict>
</plist>
