<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_2_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{58,118}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{52,118}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{44,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,120}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,122}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_2_4.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3df7fe310e1a38238db31480cc5608be$</string>
            <key>textureFileName</key>
            <string>0_53_2_4.png</string>
        </dict>
    </dict>
</plist>
