<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_7_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{68,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,254},{70,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,128},{62,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{62,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,380},{62,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,254},{62,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,254},{62,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{62,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,128},{64,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,380},{66,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{68,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{68,122}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{66,120}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{68,120}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{68,120}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,126},{68,120}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,378},{68,122}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,126},{66,122}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{66,124}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_7_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7771306fab02276a3ad88b753113f97$</string>
            <key>textureFileName</key>
            <string>0_43_7_2.png</string>
        </dict>
    </dict>
</plist>
