<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_7_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,126},{68,122}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{70,122}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,122}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{72,122}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{72,122}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{72,122}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,122}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{70,122}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,374},{70,122}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,250},{70,122}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{70,122}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,126},{70,122}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,374},{70,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{68,122}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,250},{66,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,374},{66,122}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,250},{66,122}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{68,122}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,250},{70,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,126},{70,122}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_7_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f7969821cc40e962eaee03d0886a4f7$</string>
            <key>textureFileName</key>
            <string>0_43_7_3.png</string>
        </dict>
    </dict>
</plist>
