<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_7_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,374},{58,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{56,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,252},{58,124}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,126},{58,124}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{58,124}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{58,124}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{58,124}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,124}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,126},{56,122}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,126},{68,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,378},{68,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,374},{58,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,250},{56,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{58,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,250},{60,122}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,374},{60,122}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,250},{60,122}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{60,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{74,122}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_7_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,126},{58,122}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_7_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c83803fb8679affbdfc411173d12413$</string>
            <key>textureFileName</key>
            <string>0_43_7_1.png</string>
        </dict>
    </dict>
</plist>
