<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_122_6_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,220},{56,114}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,334},{56,114}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,112},{68,106}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,110}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,220},{62,112}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,220},{56,114}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,334},{56,114}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{56,114}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{56,114}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,220},{56,112}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{68,110}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{70,108}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{70,108}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,112},{70,106}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_122_6_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46f829dc6c27ac663a7f0795c930ba82$</string>
            <key>textureFileName</key>
            <string>1_122_6_5.png</string>
        </dict>
    </dict>
</plist>
