<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_122_6_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,118},{64,114}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{64,114}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{68,114}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,118},{62,114}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{62,114}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,118},{64,114}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{64,114}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{64,116}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,116}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{60,116}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,118},{64,114}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{66,114}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,118},{66,114}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,120},{68,114}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_122_6_4.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:534c01634736d4cbdff409036cec1a64$</string>
            <key>textureFileName</key>
            <string>1_122_6_4.png</string>
        </dict>
    </dict>
</plist>
