<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_122_6_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,356},{62,116}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,238},{62,116}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,120}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{54,120}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,242},{58,118}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,124},{62,116}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{62,116}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,120},{62,116}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,116}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,246},{58,118}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{52,120}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,124},{58,120}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{60,120}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_6_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,120}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_122_6_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e9ef7dd86f70199c77de84210dd6428$</string>
            <key>textureFileName</key>
            <string>1_122_6_3.png</string>
        </dict>
    </dict>
</plist>
