<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_8_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,362},{50,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,242},{50,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{48,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,122},{50,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{50,118}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,238},{48,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,360},{48,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,240},{48,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,358},{50,116}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,120},{50,116}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{50,116}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{50,116}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,362},{50,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{50,116}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{50,116}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{50,116}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{50,116}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,362},{50,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,242},{50,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,122},{50,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{50,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,120},{48,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{48,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{48,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_8_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b405d2cd23f7d65a565e85e54fd7740$</string>
            <key>textureFileName</key>
            <string>0_53_8_1.png</string>
        </dict>
    </dict>
</plist>
