<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_8_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,128},{44,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,380},{44,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,250},{48,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,378},{48,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,250},{42,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,248},{44,120}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,374},{44,120}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{44,120}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,124},{42,120}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,126},{44,120}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,374},{44,122}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,374},{42,122}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,254},{44,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{44,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,126},{44,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{44,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,128},{44,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{44,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{44,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{44,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{48,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,126},{48,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,254},{48,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{48,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_8_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5899f333da4f8acff5ecaafbb290de06$</string>
            <key>textureFileName</key>
            <string>0_53_8_4.png</string>
        </dict>
    </dict>
</plist>
