<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_8_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{50,122}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{50,122}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,370},{48,120}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{50,120}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{50,120}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{50,120}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,248},{48,120}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,370},{48,120}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,374},{50,122}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,250},{50,122}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,126},{50,122}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{50,122}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,374},{50,122}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,250},{50,122}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,126},{50,122}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,122}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{50,122}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{50,122}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{50,122}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,122}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{50,120}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,248},{48,120}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,126},{48,120}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,126},{48,120}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_8_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,124},{48,120}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_8_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:262df39220c9ab031c66186ad515c14e$</string>
            <key>textureFileName</key>
            <string>0_53_8_5.png</string>
        </dict>
    </dict>
</plist>
