<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_122_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{58,120}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,124}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,126},{58,122}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,122}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{58,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_122_2_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f1e50ba21ed2106644769f6a7838dd2$</string>
            <key>textureFileName</key>
            <string>1_122_2_1.png</string>
        </dict>
    </dict>
</plist>
