<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_122_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{68,116}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,120},{66,120}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,120},{66,120}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{66,122}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,122}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_122_2_3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79cf209fc29c64bd17bd2ad6835006b0$</string>
            <key>textureFileName</key>
            <string>1_122_2_3.png</string>
        </dict>
    </dict>
</plist>
