<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_5_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,118},{66,118}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,118},{66,118}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{68,118}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,118},{66,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,348},{64,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,236},{64,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,230},{64,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{66,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{70,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{70,114}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,116},{70,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{70,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,360},{66,118}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{70,114}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{70,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{68,118}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,240},{66,118}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{68,118}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,118}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,120},{66,118}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,360},{66,118}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,240},{66,118}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,120},{66,118}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_5_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a458278fd3ceca715b9d3b9173c89253$</string>
            <key>textureFileName</key>
            <string>0_11_5_4.png</string>
        </dict>
    </dict>
</plist>
