<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_5_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,120},{58,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,366},{58,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,360},{56,120}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{60,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{62,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{62,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{62,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{60,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,360},{58,118}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,240},{58,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{60,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{60,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,244},{58,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,120},{58,118}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,122},{58,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,120},{58,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,366},{58,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,244},{58,120}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,122},{58,120}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{60,120}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{60,120}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{60,120}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,120}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_5_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be981c8329a4dace6cf54b78fe7146c0$</string>
            <key>textureFileName</key>
            <string>0_11_5_5.png</string>
        </dict>
    </dict>
</plist>
