<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_5_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{70,118}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{70,118}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,110},{66,118}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,348},{68,116}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,350},{66,118}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,230},{66,118}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,110},{66,118}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,110},{68,116}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{72,110}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{74,106}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{76,106}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{76,106}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{70,118}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{76,106}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,110},{72,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,350},{72,116}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,118}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,230},{68,116}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,228},{66,116}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,110},{62,118}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,230},{62,118}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,350},{62,118}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,230},{62,118}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_5_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e83ea4bca98dfd52ebb782b5c0000d0$</string>
            <key>textureFileName</key>
            <string>0_11_5_2.png</string>
        </dict>
    </dict>
</plist>
