<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_5_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,232},{60,116}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,352},{60,116}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,114},{56,118}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,230},{62,114}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,348},{62,114}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,114},{62,114}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,232},{62,114}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{64,112}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{66,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{72,110}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{72,108}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{72,108}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,114},{60,116}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{70,110}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,112},{64,112}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,350},{62,114}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,234},{60,116}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,350},{58,116}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,114},{58,116}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{58,118}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{58,118}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{58,118}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,118}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_5_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdde69f8b231501765acc0f73818e233$</string>
            <key>textureFileName</key>
            <string>0_11_5_3.png</string>
        </dict>
    </dict>
</plist>
