<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_5_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,332},{58,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,210},{58,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,332},{56,120}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,374},{60,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{62,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{62,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{60,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{60,112}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,240},{58,106}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,106},{60,102}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{60,102}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,116},{58,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,238},{58,106}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,122},{58,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,246},{58,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,124},{58,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{58,120}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,332},{58,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{60,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{60,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{60,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_5_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_5_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98cbb89a27d33120280b21554e190c33$</string>
            <key>textureFileName</key>
            <string>0_11_5_1.png</string>
        </dict>
    </dict>
</plist>
