<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_8_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,126},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,374},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{62,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{56,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,250},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,252},{58,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{58,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,128},{58,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,126},{56,120}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,126},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,372},{56,120}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,250},{56,120}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,126},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,374},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,250},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{56,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,380},{60,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{60,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{62,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_8_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dffd8dbeec422dc8fb4ac5b25857015$</string>
            <key>textureFileName</key>
            <string>0_43_8_1.png</string>
        </dict>
    </dict>
</plist>
