<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_8_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,126},{60,122}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,250},{60,122}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,124}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,380},{58,124}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,124},{62,120}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,250},{64,120}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,374},{64,120}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{64,120}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{62,120}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,368},{62,120}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,246},{62,120}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,372},{62,120}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,376},{60,122}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,124},{62,120}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,252},{62,122}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{62,122}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,128},{62,122}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,376},{60,122}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{60,122}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,126},{60,122}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{60,124}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,124}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,254},{58,124}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{58,124}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{58,124}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_8_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5155e564a635c97f3c2f9da0dda6e45$</string>
            <key>textureFileName</key>
            <string>0_43_8_4.png</string>
        </dict>
    </dict>
</plist>
