<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_8_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,126},{56,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,126},{56,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,250},{60,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{58,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,374},{56,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,250},{56,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,126},{58,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{58,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,126},{56,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{56,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{56,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{56,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{56,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,374},{56,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,374},{58,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,374},{58,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,250},{56,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{56,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,126},{56,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,250},{56,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{56,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{60,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{62,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_8_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{60,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_8_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:811646549dc826a0525f6f2f8f01204d$</string>
            <key>textureFileName</key>
            <string>0_43_8_5.png</string>
        </dict>
    </dict>
</plist>
