<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_6_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{56,108}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_6_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,232},{56,108}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_6_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,116}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_6_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{52,116}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_6_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,234},{54,112}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_6_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{56,110}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_6_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,120},{56,110}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_6_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{58,110}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_6_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{58,110}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_6_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,342},{54,114}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_6_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,344},{50,116}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_6_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,114},{54,118}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_6_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,114},{56,118}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_6_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,118}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_6_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b12c70b6f9530a2446ebcdf03e772d75$</string>
            <key>textureFileName</key>
            <string>0_11_6_3.png</string>
        </dict>
    </dict>
</plist>
