<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_122_4_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{64,120}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,124},{64,120}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,120}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,124},{64,120}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,368},{62,120}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,246},{60,120}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,246},{62,120}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,368},{62,120}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{62,120}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{64,120}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{64,120}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{64,120}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_122_4_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d30e8755d30116556061b1bd6da65db1$</string>
            <key>textureFileName</key>
            <string>1_122_4_3.png</string>
        </dict>
    </dict>
</plist>
