<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_122_4_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{66,118}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,242},{56,118}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,118}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,118}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,242},{56,116}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,362},{56,116}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{56,118}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{56,118}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,122},{56,118}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,122},{56,118}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,122},{56,118}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,118}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_122_4_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d731f684804e73a320d3b59572c24c2$</string>
            <key>textureFileName</key>
            <string>1_122_4_4.png</string>
        </dict>
    </dict>
</plist>
