<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_122_4_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{58,116}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,116}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,120},{56,116}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{56,116}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,118},{62,114}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,238},{60,114}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,234},{60,114}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,120},{60,114}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{60,114}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{62,114}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,116}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_4_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{58,116}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_122_4_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:130b4b6d443694ba8d778b5706972dfd$</string>
            <key>textureFileName</key>
            <string>1_122_4_5.png</string>
        </dict>
    </dict>
</plist>
