<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_8_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,128},{60,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,380},{60,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{62,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{58,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{60,126}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{64,126}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{64,126}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,126}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{62,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,126},{62,122}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{60,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,374},{60,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,254},{60,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,128},{60,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{60,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,382},{60,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,256},{60,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,128},{60,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,130},{60,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,386},{60,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{58,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,250},{60,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,378},{60,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,254},{62,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{62,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_8_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b57ad85f3b5d68075885d6598850967$</string>
            <key>textureFileName</key>
            <string>0_11_8_1.png</string>
        </dict>
    </dict>
</plist>
