<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_8_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,378},{60,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,252},{60,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,126},{62,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{58,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,126},{62,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,126},{62,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{64,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{64,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{62,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{62,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,248},{60,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,126},{60,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,376},{60,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,250},{60,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,124},{60,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,376},{60,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,250},{60,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,124},{60,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{60,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{60,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{60,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,124}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{62,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{62,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{62,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_8_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b817aefedd87a0269dd08e1f7a05918$</string>
            <key>textureFileName</key>
            <string>0_11_8_5.png</string>
        </dict>
    </dict>
</plist>
