<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_8_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,242},{62,118}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,122},{62,118}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{58,122}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,246},{56,120}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{62,118}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,362},{62,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,242},{62,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,122},{62,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{64,116}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{66,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,362},{66,116}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,120},{64,116}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{62,118}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,368},{64,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,362},{62,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,242},{62,118}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,122},{62,118}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{62,118}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,366},{62,118}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,246},{62,118}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{60,120}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,124},{58,120}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,120}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{58,122}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_8_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,122}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_8_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13cd6ed56e5bc5b030773a7a7ce700f3$</string>
            <key>textureFileName</key>
            <string>0_11_8_3.png</string>
        </dict>
    </dict>
</plist>
