<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_133_4_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{54,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,124},{52,120}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{52,120}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,368},{50,120}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,246},{50,120}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,124},{50,120}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,124},{50,120}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{52,120}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{52,120}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{54,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_133_4_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9fa940b3d34f84f416953960f078972$</string>
            <key>textureFileName</key>
            <string>1_133_4_3.png</string>
        </dict>
    </dict>
</plist>
