<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_133_4_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,352},{50,116}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,118},{52,116}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{50,116}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,234},{50,116}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,118},{54,114}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{54,114}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{54,114}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{54,114}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,114}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,114}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,118},{52,116}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_4_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{50,116}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_133_4_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a62ed35589ee5e1989e788f0f1997107$</string>
            <key>textureFileName</key>
            <string>1_133_4_5.png</string>
        </dict>
    </dict>
</plist>
