<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_7_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{74,106}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,224},{74,108}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,110},{72,106}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,110},{72,106}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,328},{72,106}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,110},{72,106}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,220},{72,106}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{72,106}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,332},{74,106}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{74,106}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,112},{74,106}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,224},{74,106}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{74,108}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,110}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{72,112}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{72,112}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,112}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{74,110}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,114},{76,108}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,334},{72,108}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_7_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f20d82f4a38ff4fa16d39e39d9131a6$</string>
            <key>textureFileName</key>
            <string>0_33_7_5.png</string>
        </dict>
    </dict>
</plist>
