<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_7_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{74,114}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,352},{74,114}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,114},{72,120}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{72,120}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{72,120}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{72,120}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,120}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,114},{72,118}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,236},{74,118}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,114},{74,116}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,234},{74,116}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{74,114}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{74,112}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,344},{72,112}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,230},{72,112}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,118},{72,112}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,116},{72,112}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,110}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{76,110}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,356},{74,116}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_7_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a348fa679cf5ac7bbea42aed6e0905c4$</string>
            <key>textureFileName</key>
            <string>0_33_7_1.png</string>
        </dict>
    </dict>
</plist>
