<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_7_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,128},{44,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,380},{42,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,124}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{54,124}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{54,124}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{54,124}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,124}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,128},{52,124}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,254},{50,124}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,128},{48,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,254},{44,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{44,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,380},{42,124}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,128},{44,124}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,254},{44,124}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{44,124}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{44,124}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,380},{42,124}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,380},{42,124}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_7_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,254},{48,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_7_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45a688b401f2bc08629b253f9432b92c$</string>
            <key>textureFileName</key>
            <string>0_33_7_3.png</string>
        </dict>
    </dict>
</plist>
