<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_153_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,120},{60,114}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,116}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,118},{60,114}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,120}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,120},{60,116}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,116}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{60,114}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{60,116}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_153_1_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f5b170c83cb6c5c15b1c7137b244363$</string>
            <key>textureFileName</key>
            <string>1_153_1_1.png</string>
        </dict>
    </dict>
</plist>
