<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_153_1_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,120},{60,116}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,118},{60,112}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{60,114}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{60,118}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,116}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,118},{60,112}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,114}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,118}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_153_1_5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:508ebcffa108a7d8e89f1b7c5d9d54c3$</string>
            <key>textureFileName</key>
            <string>1_153_1_5.png</string>
        </dict>
    </dict>
</plist>
