<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_153_1_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,232},{66,110}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,120},{66,110}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,118},{70,116}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{70,116}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,116}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,114}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{68,110}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_153_1_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{66,112}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_153_1_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d602034857eefb0f92b390360cdb14f6$</string>
            <key>textureFileName</key>
            <string>1_153_1_4.png</string>
        </dict>
    </dict>
</plist>
