<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_5_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,354},{54,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,236},{54,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,362},{56,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{54,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{54,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,352},{54,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,352},{54,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,234},{54,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{54,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{58,114}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{60,112}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{60,112}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,234},{54,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,118},{54,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{54,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,116},{54,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,116},{54,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,122},{54,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,242},{56,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{58,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{58,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{60,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_5_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28459e70528fbf82a7dfa5f6cb35a87e$</string>
            <key>textureFileName</key>
            <string>0_43_5_1.png</string>
        </dict>
    </dict>
</plist>
