<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_5_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,244},{58,118}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,366},{58,118}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{56,120}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,364},{60,116}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{60,116}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,118},{62,114}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,352},{62,114}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,122},{60,116}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,236},{62,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{62,114}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,234},{60,114}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{60,114}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{58,118}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,120},{62,114}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,358},{58,116}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,240},{58,116}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,124},{58,118}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,246},{58,118}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,120}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,124},{56,120}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{56,120}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{56,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_5_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{56,120}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_5_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba19217256ff110c4e3ab19509057926$</string>
            <key>textureFileName</key>
            <string>0_43_5_4.png</string>
        </dict>
    </dict>
</plist>
