<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,114},{60,108}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,114},{60,110}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,112}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,114}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{60,112}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{60,110}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,110}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,116},{60,110}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_1_3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14eae8ce5a9bbef8cfd3a06d8ef1ed85$</string>
            <key>textureFileName</key>
            <string>0_11_1_3.png</string>
        </dict>
    </dict>
</plist>
