<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,122},{56,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{58,118}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{58,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,122},{58,118}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{58,120}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,122},{56,116}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,118}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_1_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be49cb1c59e741ae60e4bacd74c1715$</string>
            <key>textureFileName</key>
            <string>0_11_1_1.png</string>
        </dict>
    </dict>
</plist>
