<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_2_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,108}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_2_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,110},{74,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_2_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_2_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_2_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{74,106}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_2_5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6579e6981bde043400e69c1008403230$</string>
            <key>textureFileName</key>
            <string>0_33_2_5.png</string>
        </dict>
    </dict>
</plist>
