<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{62,120}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,124}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,128},{64,122}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{64,124}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,124}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_2_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65bedc536fbed6eaf2a3ec45654b953f$</string>
            <key>textureFileName</key>
            <string>0_33_2_2.png</string>
        </dict>
    </dict>
</plist>
