<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,112}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,118},{60,114}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,114}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{60,114}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,114}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_2_3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be17abd4e493b5b55aa0be16d9e5d7c7$</string>
            <key>textureFileName</key>
            <string>0_11_2_3.png</string>
        </dict>
    </dict>
</plist>
