<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_7_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,358},{50,118}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,238},{50,116}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,362},{48,120}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{50,120}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,240},{48,120}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,118},{48,120}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{50,120}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{50,120}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,120}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,238},{60,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,118},{62,118}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,358},{50,118}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,118},{50,114}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,116},{48,112}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,234},{48,112}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,356},{48,112}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{48,112}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{56,114}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{68,114}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,358},{56,118}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_7_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc06f7229ffe39a579117606fd381331$</string>
            <key>textureFileName</key>
            <string>0_53_7_1.png</string>
        </dict>
    </dict>
</plist>
