<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_7_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,250},{44,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,252},{44,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{46,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,376},{46,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,126},{46,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{46,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,128},{46,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{46,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,378},{44,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,378},{42,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{50,122}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{44,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,252},{46,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,126},{48,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,252},{48,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,126},{48,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{48,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{54,122}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,378},{44,122}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_7_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b966c10c078337d70073d0412d8343d2$</string>
            <key>textureFileName</key>
            <string>0_53_7_4.png</string>
        </dict>
    </dict>
</plist>
