<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_7_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,368},{46,120}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,368},{46,120}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,246},{48,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,124},{48,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,124},{48,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{48,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{48,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,126},{48,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,124},{48,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{48,120}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{48,122}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{48,122}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,366},{48,118}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,246},{48,118}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,246},{48,118}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{48,120}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{48,120}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,118}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,248},{48,118}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_7_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,368},{46,120}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_7_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5815d042ede25496e8ddaa3e89256222$</string>
            <key>textureFileName</key>
            <string>0_53_7_3.png</string>
        </dict>
    </dict>
</plist>
