<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_6_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,248},{44,120}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,126},{44,120}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,114}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{50,118}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,238},{46,120}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,360},{44,120}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,360},{44,120}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{44,120}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{44,122}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{48,122}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,120},{48,120}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,118},{52,118}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{56,116}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,116}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_6_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1dd7c0892f1449db15692e9067dd9f8$</string>
            <key>textureFileName</key>
            <string>0_33_6_3.png</string>
        </dict>
    </dict>
</plist>
