<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_6_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,286},{72,104}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,392},{72,104}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,196},{74,88}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,94}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{74,100}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,286},{72,104}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,286},{72,104}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{72,104}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{72,104}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{74,100}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{74,96}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,100},{74,92}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,194},{74,90}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_6_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,104},{74,90}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_6_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4da13b8ded03060d06a2fd39963f1d63$</string>
            <key>textureFileName</key>
            <string>0_33_6_5.png</string>
        </dict>
    </dict>
</plist>
