<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_5_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,250},{44,122}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{44,122}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,122}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{40,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,246},{42,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,366},{42,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,246},{42,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{44,118}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{48,116}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,122},{50,116}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,120},{50,114}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,240},{50,114}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,126},{44,122}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,366},{50,114}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,124},{46,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{44,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{44,122}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{44,122}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,370},{46,120}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,248},{48,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{48,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,126},{48,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,374},{48,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_5_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:064fa4b54f86114561f45298073e3874$</string>
            <key>textureFileName</key>
            <string>0_53_5_4.png</string>
        </dict>
    </dict>
</plist>
