<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_5_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,120},{50,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,356},{48,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{50,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,238},{48,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,120},{48,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{48,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{48,114}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,118},{48,110}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,350},{48,102}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,230},{48,98}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,350},{48,98}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{50,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{48,104}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,236},{50,112}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,120},{50,114}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{50,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,356},{48,116}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{46,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,238},{48,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,356},{48,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,238},{48,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_5_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e9a7f718d4c0def252c67ca2603cf01$</string>
            <key>textureFileName</key>
            <string>0_53_5_1.png</string>
        </dict>
    </dict>
</plist>
