<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_5_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,362},{46,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,242},{46,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{46,120}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{46,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,352},{46,114}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,236},{46,114}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{46,114}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,236},{46,112}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{48,108}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,118},{56,108}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,228},{60,106}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,350},{60,106}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,122},{46,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,112},{56,106}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,120},{48,114}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{46,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,368},{46,118}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{46,120}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{46,120}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,120}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,246},{44,120}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,124},{44,120}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_5_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{44,120}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_5_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be5af96716324f485d5e50a7e3d69526$</string>
            <key>textureFileName</key>
            <string>0_53_5_3.png</string>
        </dict>
    </dict>
</plist>
