<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_133_5_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,362},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,368},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,244},{56,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{56,120}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,238},{56,122}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,118},{56,122}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,120},{56,122}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,120},{56,120}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,118},{58,118}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{60,116}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{62,114}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{62,114}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,374},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{62,116}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{56,120}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,250},{56,122}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,126},{56,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,122}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{56,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,124},{54,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{56,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{56,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_133_5_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca37ffcb5c7a11c865a7e33a0cdb226f$</string>
            <key>textureFileName</key>
            <string>1_133_5_3.png</string>
        </dict>
    </dict>
</plist>
