<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_133_5_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,374},{52,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,250},{52,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,128},{50,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,254},{52,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,128},{52,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{52,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,126},{52,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,122},{52,116}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,352},{50,110}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,110},{52,106}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{52,106}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{52,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,240},{52,110}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{52,118}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,378},{52,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,254},{52,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{52,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{50,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{52,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,380},{50,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,380},{50,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_133_5_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ee06600f31502773c81ad22a7c73b5b$</string>
            <key>textureFileName</key>
            <string>1_133_5_1.png</string>
        </dict>
    </dict>
</plist>
