<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_133_5_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{54,124}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,366},{54,124}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,240},{54,124}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,116},{52,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,114},{54,124}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,366},{54,124}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,240},{54,124}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{54,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,116},{54,118}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{56,112}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{58,110}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{58,110}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{54,124}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{56,112}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,126},{54,120}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,380},{54,124}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,254},{54,124}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,128},{54,124}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{54,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{54,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{54,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_133_5_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bd2f01c8548ff45943d85509b110ae8$</string>
            <key>textureFileName</key>
            <string>1_133_5_2.png</string>
        </dict>
    </dict>
</plist>
