<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_133_5_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,246},{52,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,124},{52,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,122},{50,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{52,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,362},{52,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,242},{52,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,122},{52,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,368},{52,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,246},{52,120}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,368},{50,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,124},{52,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{52,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,368},{50,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{52,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,246},{52,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{52,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,362},{50,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{52,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,242},{50,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{50,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,122},{50,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_133_5_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d74625b326bfbb13f82f4d320e3d9f4$</string>
            <key>textureFileName</key>
            <string>1_133_5_5.png</string>
        </dict>
    </dict>
</plist>
