<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_133_5_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{54,120}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{54,120}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{54,120}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{54,120}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,366},{54,120}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,244},{54,120}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,122},{54,120}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,366},{54,120}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,242},{54,118}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,122},{54,118}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{54,118}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{54,118}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,244},{54,120}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{56,118}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,122},{54,120}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,368},{54,120}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,246},{54,120}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,124},{54,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,120}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{54,120}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{54,120}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{54,120}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_5_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,120}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_133_5_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66b8a54d10daf9beef0f8ffc38b578f5$</string>
            <key>textureFileName</key>
            <string>1_133_5_4.png</string>
        </dict>
    </dict>
</plist>
