<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_111_1_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{56,118}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{54,116}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{48,120}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{50,124}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,124}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,128},{50,120}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{48,118}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,122},{50,118}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_111_1_4.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e4841dab3d31280e1a5379658106ddf$</string>
            <key>textureFileName</key>
            <string>1_111_1_4.png</string>
        </dict>
    </dict>
</plist>
