<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_111_1_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,122},{50,118}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,120},{50,116}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{50,118}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,120}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{50,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{50,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,124},{50,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,120}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_111_1_5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f54beb80e9d1118e9b0fa4e75284304$</string>
            <key>textureFileName</key>
            <string>1_111_1_5.png</string>
        </dict>
    </dict>
</plist>
