<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_111_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{58,116}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{54,118}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{46,120}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,120}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,124},{60,118}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{54,118}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,120},{46,118}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,122},{50,118}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_111_1_3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7ee80cde7733e0b0bbd2838f75708fa$</string>
            <key>textureFileName</key>
            <string>1_111_1_3.png</string>
        </dict>
    </dict>
</plist>
