<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_111_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,124},{56,118}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{54,120}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{52,120}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{54,118}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{58,114}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,118},{56,114}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,122},{52,118}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,120}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_111_1_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c7af65c559eec389d23f7eb2efe4ba1$</string>
            <key>textureFileName</key>
            <string>1_111_1_2.png</string>
        </dict>
    </dict>
</plist>
