<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_111_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,120},{50,116}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,122},{50,118}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{50,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,120}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,120},{50,116}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,118}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{50,116}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{50,118}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_111_1_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15ecbbc22b3421a01ccaf9a35155255e$</string>
            <key>textureFileName</key>
            <string>1_111_1_1.png</string>
        </dict>
    </dict>
</plist>
