<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_133_3_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{54,120}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{54,116}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,124},{52,118}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,116}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_133_3_4.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b4c7533e3a96006e2a9ae5f502e22b2$</string>
            <key>textureFileName</key>
            <string>1_133_3_4.png</string>
        </dict>
    </dict>
</plist>
