<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_122_3_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,120}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,120},{68,116}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{68,118}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,116}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_122_3_4.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53a3b4e09c5d6ee84a0308075f160ae0$</string>
            <key>textureFileName</key>
            <string>1_122_3_4.png</string>
        </dict>
    </dict>
</plist>
