<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_122_5_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,246},{68,120}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{68,120}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,124},{68,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,368},{68,120}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,242},{66,120}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,368},{66,120}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,246},{66,120}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,246},{68,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,122},{70,118}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{70,118}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,364},{66,118}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,122},{66,118}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{68,120}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{70,118}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,124},{68,120}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{68,120}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{68,120}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{68,120}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{66,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,124},{66,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,368},{66,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,368},{66,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_122_5_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ee3c4faf3544ff4f4a19a33556dbd77$</string>
            <key>textureFileName</key>
            <string>1_122_5_4.png</string>
        </dict>
    </dict>
</plist>
