<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_122_5_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,368},{58,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,246},{58,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,124},{56,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{60,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{62,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{62,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{62,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,124},{58,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{56,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,124},{56,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{56,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,368},{58,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,246},{58,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,368},{58,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{58,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{58,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,122},{56,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,122},{56,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,122},{56,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,122},{56,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{56,118}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_122_5_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d43c785790dba0f677ba4d77b584fe01$</string>
            <key>textureFileName</key>
            <string>1_122_5_5.png</string>
        </dict>
    </dict>
</plist>
