<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_122_5_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{66,124}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,128},{66,124}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,380},{64,124}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,380},{62,124}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{62,124}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,128},{62,124}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,254},{62,124}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,254},{64,122}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{70,118}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,378},{74,112}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{74,110}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,122},{74,110}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{66,124}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,250},{72,112}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,128},{68,120}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,124}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{66,124}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{66,124}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,254},{64,124}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,380},{62,124}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{62,124}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,128},{62,124}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_122_5_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,254},{62,124}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_122_5_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:464f4da244cf98466a6a5f5cd6375679$</string>
            <key>textureFileName</key>
            <string>1_122_5_2.png</string>
        </dict>
    </dict>
</plist>
