<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_5_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,124},{62,120}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,250},{62,120}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{58,122}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,122},{64,118}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,246},{66,118}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,372},{66,118}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{66,118}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,122},{64,116}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{60,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,240},{54,114}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{50,110}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,118},{50,110}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,374},{62,120}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,240},{56,112}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,366},{60,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{62,118}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{62,120}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,122}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{56,122}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,126},{54,122}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,250},{54,122}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,374},{54,122}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{54,122}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_5_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ababd37fcd9757bcafce022232af4d45$</string>
            <key>textureFileName</key>
            <string>0_33_5_2.png</string>
        </dict>
    </dict>
</plist>
