<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_5_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{58,112}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,116},{58,112}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,350},{66,110}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,120},{52,114}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,238},{50,116}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{48,116}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,120},{48,116}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,120},{50,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{58,116}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{66,118}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{66,118}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,118}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,236},{58,112}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{62,118}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,362},{60,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,238},{58,114}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,354},{58,112}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{64,112}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,226},{66,108}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,340},{68,108}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{68,108}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,116},{68,108}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,230},{68,108}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_5_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b412109d580c6cc646ca89436b0737d$</string>
            <key>textureFileName</key>
            <string>0_33_5_4.png</string>
        </dict>
    </dict>
</plist>
