<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_5_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{72,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,106},{72,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,106},{70,102}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,110},{72,104}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,222},{70,106}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,336},{70,106}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,336},{70,106}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,106}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,226},{72,108}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{70,110}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{68,110}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{68,110}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,216},{72,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,110}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,114},{72,106}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{72,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,330},{72,102}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,102}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,210},{70,102}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,320},{70,102}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{68,102}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{68,100}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{68,100}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_5_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f71a1db1be80b1ccc0813fb7c57cfbb$</string>
            <key>textureFileName</key>
            <string>0_33_5_5.png</string>
        </dict>
    </dict>
</plist>
