<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_5_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,368},{42,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,246},{42,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,242},{46,118}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{44,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{50,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{50,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{44,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,122},{42,118}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,242},{48,118}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,242},{52,116}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{52,116}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,124},{42,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,360},{48,116}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,122},{40,118}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{42,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,368},{42,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,362},{44,118}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,362},{46,118}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{48,116}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,120},{50,116}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,122},{50,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_5_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{50,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_5_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae6de17a7324359cc4f22e71a6b65f91$</string>
            <key>textureFileName</key>
            <string>0_33_5_3.png</string>
        </dict>
    </dict>
</plist>
