<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_3_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{54,116}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,7},{54,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{54,116}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,7},{54,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,118}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,9},{54,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{54,114}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,10},{54,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>0_43_3_1.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64b63b95fd097b9e8337eefd0921d7c8$</string>
            <key>textureFileName</key>
            <string>0_43_3_1.png</string>
        </dict>
    </dict>
</plist>
