<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_8_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,368},{44,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,246},{44,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,122},{52,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{48,120}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,124},{46,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{52,120}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{52,120}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,120}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{46,120}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,368},{46,120}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,124},{44,120}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{44,120}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,368},{44,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{42,120}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,246},{44,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,124},{44,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{44,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,368},{44,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,246},{44,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,368},{44,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,246},{44,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{50,118}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,244},{52,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{52,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,124},{52,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_8_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:932cae5b6a70d11976c0aa1313a2a8b2$</string>
            <key>textureFileName</key>
            <string>0_33_8_3.png</string>
        </dict>
    </dict>
</plist>
