<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_8_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,368},{64,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{64,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,126},{56,122}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{60,122}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{66,120}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,366},{66,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{66,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,124},{66,118}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,246},{66,118}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,364},{66,116}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{64,118}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,122},{64,118}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,124},{64,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,244},{64,118}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,246},{64,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,372},{64,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,124},{64,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,250},{64,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,374},{64,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,122}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{58,122}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,250},{56,122}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,374},{56,122}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{56,122}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_8_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de1659bbd9d02190bf22f60555914862$</string>
            <key>textureFileName</key>
            <string>0_33_8_2.png</string>
        </dict>
    </dict>
</plist>
