<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_8_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,114},{74,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,230},{74,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,124},{70,120}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,118}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,238},{72,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,364},{70,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{70,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,122},{70,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,364},{72,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,226},{72,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,338},{72,110}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{72,110}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,352},{74,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,114},{72,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,226},{72,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,342},{72,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{72,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,114},{74,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{74,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,118},{74,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,246},{72,116}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,120}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{70,120}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{70,120}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{70,120}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_8_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcf47b62a8cafebf0cc0a1c5e1589662$</string>
            <key>textureFileName</key>
            <string>0_33_8_1.png</string>
        </dict>
    </dict>
</plist>
