<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_33_8_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,110},{60,114}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,218},{60,114}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{68,106}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,110},{66,108}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{54,114}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,238},{50,116}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{50,116}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,120},{50,116}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,356},{52,116}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{52,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{54,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{54,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,352},{60,114}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,116}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,226},{58,114}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,220},{58,114}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,118},{58,114}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,236},{60,114}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{60,114}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,120},{60,114}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,112},{64,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{68,108}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{68,106}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,110},{68,106}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_33_8_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{70,106}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_33_8_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17c9dfc29348b1781317759b53b3a02e$</string>
            <key>textureFileName</key>
            <string>0_33_8_4.png</string>
        </dict>
    </dict>
</plist>
