<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_3_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,112}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,112}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{58,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,116},{58,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_3_3.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:412132067ec1ca1060994fab9aed7e5f$</string>
            <key>textureFileName</key>
            <string>0_11_3_3.png</string>
        </dict>
    </dict>
</plist>
