<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_3_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,116}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,118},{66,112}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,114}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{66,114}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_3_4.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b66211adc6ff98309692632582af2a1$</string>
            <key>textureFileName</key>
            <string>0_11_3_4.png</string>
        </dict>
    </dict>
</plist>
