<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_11_3_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,120},{68,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{68,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_11_3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,112}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_11_3_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a68ff31949e2a19c6e3506e3f6b2f2fb$</string>
            <key>textureFileName</key>
            <string>0_11_3_2.png</string>
        </dict>
    </dict>
</plist>
