<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_111_2_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{54,116}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,124},{54,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{48,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_111_2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_111_2_4.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6e07fe7e8ab32484a5ff72aa2d2d15f$</string>
            <key>textureFileName</key>
            <string>1_111_2_4.png</string>
        </dict>
    </dict>
</plist>
