<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_133_6_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,236},{50,114}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_6_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,352},{50,114}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_6_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,114}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_6_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,118},{62,114}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_6_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,234},{50,114}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_6_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,236},{50,114}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_6_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,352},{50,114}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_6_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{52,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_6_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{50,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_6_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,118},{52,116}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_6_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,118},{60,114}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_6_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{66,114}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_6_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{66,114}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>1_133_6_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,114}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>1_133_6_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b83cca082ab40f1172ad0c4040837348$</string>
            <key>textureFileName</key>
            <string>1_133_6_4.png</string>
        </dict>
    </dict>
</plist>
