<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_3_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,122},{44,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{44,118}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{48,120}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,118}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_3_4.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fae7be0a403397082120da338347b041$</string>
            <key>textureFileName</key>
            <string>0_53_3_4.png</string>
        </dict>
    </dict>
</plist>
