<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_6_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{62,110}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,116},{62,110}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,120}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{64,116}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{62,112}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,116},{62,112}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{62,112}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,116},{62,112}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{62,112}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,120},{62,114}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,124},{64,116}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,124},{66,120}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{68,120}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,120}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_6_3.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45d1fda0eebf934bd1aafd31d06175b7$</string>
            <key>textureFileName</key>
            <string>0_43_6_3.png</string>
        </dict>
    </dict>
</plist>
