<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_6_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,350},{52,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,350},{52,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,120},{66,116}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,116}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{58,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,238},{52,112}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,238},{52,110}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,238},{52,110}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,352},{52,110}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{52,114}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,120},{66,116}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{66,116}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{66,116}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{66,116}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_6_1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ff4dd4da30267fe633bc1a4f06af78b$</string>
            <key>textureFileName</key>
            <string>0_43_6_1.png</string>
        </dict>
    </dict>
</plist>
