<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_6_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,116},{62,112}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{62,112}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,122}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,122},{64,118}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,120},{64,116}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{64,114}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,118},{64,112}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{62,112}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,118},{62,114}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{64,116}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,118}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,124},{64,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,120}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{64,120}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_6_2.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c919f9bba00d0f952252f89e6305d763$</string>
            <key>textureFileName</key>
            <string>0_43_6_2.png</string>
        </dict>
    </dict>
</plist>
