<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_6_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,212},{52,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,324},{52,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,110},{66,100}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,106}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,212},{60,110}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,212},{52,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,324},{52,112}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{52,112}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{52,112}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,212},{52,110}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{66,106}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{66,104}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,108},{66,102}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_6_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{66,100}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_6_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e17ab7e807cbd16808c2ee9c5a61e9f6$</string>
            <key>textureFileName</key>
            <string>0_43_6_5.png</string>
        </dict>
    </dict>
</plist>
