<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_1_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{56,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,124},{54,118}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{54,120}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{54,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,124},{54,120}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{56,116}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,124},{54,120}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_1_5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a79514e2417ef10d181be554975bd5fe$</string>
            <key>textureFileName</key>
            <string>0_43_1_5.png</string>
        </dict>
    </dict>
</plist>
