<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,120},{54,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,118}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,118},{54,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,120}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,122},{56,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{54,116}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{54,114}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{54,118}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_1_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4006165354ca3ef542f1f11073fbd3cb$</string>
            <key>textureFileName</key>
            <string>0_43_1_1.png</string>
        </dict>
    </dict>
</plist>
