<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{66,112}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{66,114}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,122},{66,116}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{66,118}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,120},{66,116}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,116}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{66,116}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{66,116}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_1_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bef319cc818003cb55dc7692ce2ef5f$</string>
            <key>textureFileName</key>
            <string>0_43_1_3.png</string>
        </dict>
    </dict>
</plist>
