<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_43_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,122},{66,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{66,118}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{66,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,120},{66,116}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{66,110}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,238},{66,112}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_43_1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_43_1_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62ec6953903dd2e2697c9e0469f6febd$</string>
            <key>textureFileName</key>
            <string>0_43_1_2.png</string>
        </dict>
    </dict>
</plist>
