<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_6_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{42,114}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,346},{40,114}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,108}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{60,112}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{46,116}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,228},{42,116}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,342},{42,114}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{42,116}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,224},{42,116}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,120},{50,114}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,112},{54,114}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,112},{64,110}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,110}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,108}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_6_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e2613a6025aea6660c666bc50854aa5$</string>
            <key>textureFileName</key>
            <string>0_53_6_4.png</string>
        </dict>
    </dict>
</plist>
