<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_53_6_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,126},{44,112}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,240},{44,112}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,122}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{52,120}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,370},{46,116}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,248},{46,114}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,126},{44,112}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,364},{44,112}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,126},{44,114}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{46,118}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{50,120}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{54,122}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{56,122}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0_53_6_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,122}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>0_53_6_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3a485ce6eac2c414b89194a27d191a5$</string>
            <key>textureFileName</key>
            <string>0_53_6_3.png</string>
        </dict>
    </dict>
</plist>
